body{
    font-family: "Helvetica";
}
div.navButton{
    background-color: #f4ebeb;
    opacity: 0.8;
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
    max-width: 500px;
    margin: auto;
}
h1,h2 {
    font-weight: bold;
    text-transform: uppercase;
}
li{
    text-decoration: none;
    display: inline;
}
/*Class*/
a.btn{ 
    display: inline;	
    border-style: solid;
    border-color: #000;
    padding: 20px;
    color: black;
    border-radius: 0px;
}
/*Class*/
div.container{
    background-color: #ededed; /*light grey*/
    font-family: "Times New Roman";
    border: 2px solid black;
    text-align: center;

}
div.jumbotron{
    background-color: #ffffff; /*White*/
}

