@font-face{
    font-family: Arizonia;
    src:url('fonts/Arizonia-Regular.ttf');
}
body{
    font-family: Arizonia;
    background-image: url("Images/welcome.png");
}

div.navButton{
    background-color: #f4ebeb;
    opacity: 0.8;
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
    max-width: 500px;
    margin: auto;
}
h1,h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Arizonia';
}
li{
    text-decoration: none;
    display: inline;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 100px;
}
/*Classes*/
a.btn{ 
    display: inline;	
    border-style: solid;
    border-color: #000;
    padding: 20px;
    color: black;
    border-radius: 0px;
}

div.container{
    background-color: #ededed; /*light grey*/
    font-family: Arizonia;
    border: 2px solid black;
    text-align: center;

}
div.jumbotron{
    background-color: rgba(0, 0, 0, 0.00);
    opacity: 0.1;
}

/*Id's*/
#welcome{
    background-image: url("Images/welcome.png");
}